anyio
argcomplete
asgiref
async-timeout
attrs
Automat
beautifulsoup4
blis
boto3
botocore
catalogue
certifi
cffi
channels
chardet
charset-normalizer
click
cmake
commonmark
compressed-rtf
confection
constantly
cryptography
cymem
decorator
defusedxml
Deprecated
deprecation
diff-match-patch
distlib
Django=="3.2.*"
django-cors-headers
django-currentuser
django-import-export
djangorestframework
djangorestframework-simplejwt
docx2txt
ebcdic
et-xmlfile
extract-msg
filelock
fsspec
greenlet
huggingface-hub
hyperlink
idna
IMAPClient
import-export
incremental
Jinja2
jmespath
langcodes
lit
lxml
MarkupPy
MarkupSafe
mpmath
murmurhash
mysql-connector-python
mysqlclient
networkx
numpy
nvidia-cublas-cu11
nvidia-cublas-cu12
nvidia-cuda-cupti-cu11
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu11
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu11
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu11
nvidia-cudnn-cu12
nvidia-cufft-cu11
nvidia-cufft-cu12
nvidia-curand-cu11
nvidia-curand-cu12
nvidia-cusolver-cu11
nvidia-cusolver-cu12
nvidia-cusparse-cu11
nvidia-cusparse-cu12
nvidia-nccl-cu11
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu11
nvidia-nvtx-cu12
oauthlib
odfpy
olefile
openpyxl
packaging
pandas
pathy
pbr
pdfminer.six
pdfplumber
phonenumbers
pikepdf
Pillow
platformdirs
preshed
priority
prompt-toolkit
protobuf
psycopg2
psycopg2-binary
pyasn1
pyasn1-modules
pycodestyle
pycparser
pycryptodome
pydantic
Pygments
PyJWT
PyMuPDF
PyMySQL
pyOpenSSL
pyparsing
PyPDF2
pypdfium2
pytesseract
python-crontab
python-dateutil
python-docx
python-pptx
pytz
pytz-deprecation-shim
PyYAML
redis
regex
requests
requests-oauthlib
rich
s3transfer
service-identity
six
smart-open
sniffio
sockets
sortedcontainers
soupsieve
spacy
spacy-alignments
spacy-legacy
spacy-loggers
spacy-transformers
SpeechRecognition
SQLAlchemy
sqlalchemy-migrate
sqlparse
srsly
starlette
sympy
tablib
tabulate
Tempita
termcolor
thinc
tokenizers
tomli
torch
tqdm
transformers
triton
Twisted
txaio
typer
typing_extensions
tzdata
tzlocal
urllib3
vine
virtualenv
Wand
wasabi
wcwidth
wrapt
xlrd
XlsxWriter
xlwt
zope.interface
